<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H3>THIS IS CONTACT PAGE</H3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora ut, dignissimos modi adipisci vero et, ad cupiditate quisquam fuga ea expedita repudiandae assumenda sunt earum ex tempore dolores! Blanditiis, eligendi. </p>
<a href="{% url 'Home_page'%}">home page</a>

</body>
</html>